matplotlib==3.0.2
six==1.12.0
tqdm==4.31.1
visdom==0.1.8.8
torch==1.0.0
-e git+https://github.com/rtqichen/torchdiffeq.git@a344d75b01335e61670a308b2314b2fb956f483f#egg=torchdiffeq
torchvision==0.2.2.post3
